apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 5m
  chart:
    spec:
      chart: cert-manager
      version: 'v1.19.2' 
      sourceRef:
        kind: HelmRepository
        name: cert-manager 
        namespace: cert-manager
  values:
    crds:
      enabled: true
    installCRDs: true 
    # prometheus:
    #   servicemonitor:
    #     enabled: true
    #     namespace: monitoring
    #     labels:
    #       release: kube-prometheus-stack 
