apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: immich
namespace: immich
resources:
  - namespace.yaml
  - database.yaml
  - pvc.yaml
  - certificate.yaml
  - helm-release.yaml
  - helm-repository.yaml
