apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster
  namespace: flux-system
spec:
  dependsOn:
    - name:  longhorn-system
    - name: alloy-config
      namespace: monitoring
  interval: 1m
  path: ./cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
