apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  timeout: 20m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: '81.2.1'
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
  values:
    grafana:
      enabled: true
      dashboardProviders:
          dashboardproviders.yaml:
            apiVersion: 1
            providers:
            - name: 'grafana-dashboards-kubernetes'
              orgId: 1
              folder: 'Kubernetes'
              type: file
              disableDeletion: true
              editable: true
              options:
                path: /var/lib/grafana/dashboards/grafana-dashboards-kubernetes
          dashboards:
            grafana-dashboards-kubernetes:
              k8s-system-api-server:
                url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-api-server.json
                token: ''
              k8s-system-coredns:
                url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-coredns.json
                token: ''
              k8s-views-global:
                url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-global.json
                token: ''
              k8s-views-namespaces:
                url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-namespaces.json
                token: ''
              k8s-views-nodes:
                url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-nodes.json
                token: ''
              k8s-views-pods:
                url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-pods.json
      ingress:
        enabled: true
        hosts:
          - grafana.homelab.kacperjarocki.dev
        path: /
        pathType: Prefix
        tls:
          - hosts:
              - grafana.homelab.kacperjarocki.dev
            secretName: monitoring-homelab-kacperjarocki-dev-tls
      persistence:
        enabled: true
        storageClassName: longhorn
        size: 30Gi
      initChownData:
        enabled: false

      serviceAccount:
        create: true
        autoMount: true

      sidecar:
        dashboards:
          enabled: true

    kubelet:
      enabled: true
      namespace: kube-system
      jobNameOverride: "k3s-server"
    kubeControllerManager:
      enabled: true
      jobNameOverride: "k3s-server"
   
    kubeEtcd:
      enabled: true
    kubeScheduler:
      enabled: true
      jobNameOverride: "k3s-server"
    kubeProxy:
      enabled: true
      jobNameOverride: "k3s-server"
    kube-state-metrics:
      releaseLabel: true
      prometheusScrape: true
      prometheus:
        monitor:
          enabled: true
          http:
            honorLabels: true

          metrics:
            honorLabels: true
    nodeExporter:
      enabled: true
      operatingSystems:
        linux:
          enabled: true
        aix:
          enabled: true
        darwin:
          enabled: true
      forceDeployDashboards: false
    prometheus-node-exporter:
      namespaceOverride: ""
      podLabels:
        jobLabel: node-exporter
      releaseLabel: true
      extraArgs:
        - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run/containerd/.+|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
        - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs|erofs)$
      service:
        portName: http-metrics
        ipDualStack:
          enabled: false
          ipFamilies: ["IPv6", "IPv4"]
          ipFamilyPolicy: "PreferDualStack"
        labels:
          jobLabel: node-exporter

      prometheus:
        monitor:
          enabled: true
          relabelings:
          - action: replace
            sourceLabels: [__meta_kubernetes_pod_node_name]
            targetLabel: nodename
    prometheusOperator:
      enabled: true
      prometheusConfigReloader:
        image:
          registry: quay.io
          repository: prometheus-operator/prometheus-config-reloader
    prometheus:
      enabled: true
      ingress:
        enabled: true
        ingressClassName: ""
        extraLabels: {}
        hosts: 
          - prometheus.homelab.kacperjarocki.dev
        path: /
        pathType: Prefix
        tls: 
           - secretName: monitoring-homelab-kacperjarocki-dev-tls
             hosts:
               - prometheus.homelab.kacperjarocki.dev
        additionalScrapeConfigs: []
        # - job_name: kube-etcd
        #   kubernetes_sd_configs:
        #     - role: node
        #   scheme: https
        #   tls_config:
        #     ca_file:   /etc/prometheus/secrets/etcd-client-cert/etcd-ca
        #     cert_file: /etc/prometheus/secrets/etcd-client-cert/etcd-client
        #     key_file:  /etc/prometheus/secrets/etcd-client-cert/etcd-client-key
        #   relabel_configs:
        #   - action: labelmap
        #     regex: __meta_kubernetes_node_label_(.+)
        #   - source_labels: [__address__]
        #     action: replace
        #     target_label: __address__
        #     regex: ([^:;]+):(\d+)
        #     replacement: ${1}:2379
        #   - source_labels: [__meta_kubernetes_node_name]
        #     action: keep
        #     regex: .*mst.*
        #   - source_labels: [__meta_kubernetes_node_name]
        #     action: replace
        #     target_label: node
        #     regex: (.*)
        #     replacement: ${1}
        #   metric_relabel_configs:
        #   - regex: (kubernetes_io_hostname|failure_domain_beta_kubernetes_io_region|beta_kubernetes_io_os|beta_kubernetes_io_arch|beta_kubernetes_io_instance_type|failure_domain_beta_kubernetes_io_zone)
        #     action: labeldrop
        #
        ## If scrape config contains a repetitive section, you may want to use a template.
        ## In the following example, you can see how to define `gce_sd_configs` for multiple zones
        # additionalScrapeConfigs: |
        #  - job_name: "node-exporter"
        #    gce_sd_configs:
        #    {{range $zone := .Values.gcp_zones}}
        #    - project: "project1"
        #      zone: "{{$zone}}"
        #      port: 9100
        #    {{end}}
        #    relabel_configs:
