apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking 
spec:
  interval: 5m
  chart:
    spec:
      chart:  traefik
      version: '38.0.2'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: networking
  values:
    deployment:
      kind: DaemonSet
